.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.body{
  display: flex;
  flex-direction: column;
  
}

.navbar{
  height: 50px;
  text-align: left;
  box-shadow: 10px 10px 15px rgba(3, 4, 94, 0.1);
  background-color: white;
}
.display{
  margin-left: 50px;
  margin-top: 10px;
  padding: 5px;
  height: 30px;
  width: 80px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(3, 4, 94, 0.1);
  display: flex;
  column-gap: 5px;
  border-radius: 5px;
  cursor: pointer;

}
.dropdown{
  position: relative;
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 5px;
  height: 100px;
  width: 250px;
  background-color: rgb(242, 239, 239)  ;
  box-shadow: 10px 10px 10px rgba(3, 4, 94, 0.1);
  z-index: 2;
}

.dropdown-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.selectbar{
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}
.options{
  height: 30px;
}

.card{
  box-shadow: 10px 10px 15px rgba(3, 4, 94, 0.1),
  -10px -10px 15px rgba(3, 4, 94, 0.1),
  -10px 10px 15px rgba(3, 4, 94, 0.1),
  10px -10px 15px rgba(3, 4, 94, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
}
.image{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.column{
  padding: 30px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  
}


.nameimg{
  display: flex;
  column-gap: 5px;
}
.bodyColumn{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px){
  .bodyColumn{
    display: grid;
  }
  .column{
    display: grid;
    width: 100%;
  }
  
}
.columnHeader{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


